.container{
    width: 100%;
    height: 100%;
}

/*-----Reusable-----*/

.row{
    width: 100%;
    margin: auto 0;
}

.row::after{
    content: " ";
    display: table;
    clear: both;
}


/*----Navigation Bar 1----*/

.nav1 .row{
    background-color: gray;
    
}
.nav1 ul{
    margin-right: 100px;
}
.nav1 li {
    float: right;
    border-right: black solid 1px;
    list-style: none;
    text-align: right;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*----Header----*/

.header .row{
    display: flex;
    height: 110px;
}
.header .logo{
    width: 10%;
    margin-left: 200px;
}

.header .title{
    width: 80%;
    color: coral;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
}

/*---Navigation Bar 2---**/

.nav2 .row{
    background-color: rgb(39, 38, 38) ;
}

.nav2 li{
    float: left;
    padding: 15px;
    color: grey;
    list-style: none;
}


/*---Body1---*/

.body1{
    background-image: url("ytu1.jpg");
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("ytu1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 75px 30px 75px;
}


.body1 .row{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 20px 100px 20px 100px;
    width: 80%;

}

.body1 .picture{
    width: 30%;
    margin: 30px ;
}

.body1 .word{
    width: 50%;
    margin: 20px 30px 30px 100px;
    padding: 20px;
}

.body1 img{
    width: 400px;
    height: 250px;
}

.body1 h2{
    color: white;
    text-align: left;
}

.body1 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;

}


/*---About---*/

.about .row{
    display: flex;
    margin: 10px 0px 50px 200px;
}

h2 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.about .obj{
    width: 20%;
    padding: 5px 15px 50px 25px ;
    border: gray 0.5px solid;
    margin-left: 10px;
    line-height: 30px;
}

.about .mission{
    width: 20%;
    padding: 5px 15px 50px 25px ;
    border: gray 0.5px solid;
    margin-left: 10px;
    line-height: 30px;
} 

.about .programs{
    width: 20%;
    padding: 5px 15px 50px 25px ;
    border: gray 0.5px solid;
    margin-left: 10px;
    line-height: 30px;
}

/*----Messages----*/


.message .row{
    display: flex;
    margin: 10px 0px 50px 200px
}

.recimg{
    width: 20%;
}

.message img{
    width: 250px;
    height: 275px;

}

.rector{
    width: 50%;
    
    margin-left: 20px;
}

.message h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;

}

.message p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}


/*----Events----*/



.events h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: coral;
}

.events .photos{
    display: flex;
   margin: 10px 0px 10px 150px;
}

.events .p1{
    width: 10%;
    margin: 10px 100px 10px 50px;
}

.events img{
    width: 250px;
    height: 200px;
}


/*-----Welcome-----*/


.welcome row{
    margin: 10px 0px 50px 200px;
}
.welcome h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: coral;
}

.welcome p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    padding: 10px 125px 50px 200px;;
}

/*----Structure----*/


.school{
    background-image: url("ytu1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

.structure .row{
    display: flex;
    margin: 10px 100px 10px 125px;
    
}

.structure .amount{
    width: 25%;
    border: white 0.5px solid;
    margin: 70px 20px 30px 20px;
    border-radius: 10px;
}
.structure h2{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
}

.structure p{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;

}

/*----News----*/

.news h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: coral;
}

.news .photos{
    margin: 20px 20px 20px 150px;
}
.news .region{
    display: flex;
    margin-bottom: 20px;
}

.news .pic{
    width: 350px;
    margin-left: 20px;
    border: gray 0.5px solid;
    border-radius: 5px;
}

.news img{
    width: 350px;
    height: 200px;
}

.news p{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}


/*----Footer----*/


.footer{
    display: flex;
    background-color: rgb(49, 47, 47);
    
}

.footer h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    line-height: 30px;
}

.footer li{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.footer .YTU{
    width: 25%;
    margin: 30px 20px 30px 150px;
    padding: 20px;
}

.footer .link{
    width: 25%;
    margin: 30px 20px 30px 20px;
    padding: 20px;
}

.footer .photo{
    width: 25%;
    margin: 50px 20px 30px 20px;
    padding: 20px;
}

.footer .pic{
    display: flex;
    margin-bottom: 50px;
}

.footer img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
